<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>
        <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}]- HOSTNAME :: ${HOSTNAME} - IPAddresss :: %X{ipAddress} -[%thread] %-5level %logger %xThrowable{10} - %msg%n</pattern>
      </Pattern>
    </encoder>
  </appender>
  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
  
  
   <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${DockerLogbackApp.log.path}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>DockerLogbackApp.%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}]- [cid ${HOSTNAME}] [#ip %X{ipAddress},,#] -[%thread] %-5level %logger %xThrowable{10} - %msg%n</pattern>
    </encoder>
  </appender>
        
  <root level="INFO">
    <appender-ref ref="FILE" />
  </root>
  
</configuration>
