server:  
  port: 9001

spring:  
  application:
    name: notification-service

eureka:  
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    preferIpAddress: true